* {
  margin: 0;
  padding: 0;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  width: 400px;
  /* height: 400px; */
  background-color: honeydew;
}

.cell {
  display: flex;
  width: 48px;
  height: 48px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
}

.coloring {
  color: darkgray;
}
