* {
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: seashell;
  margin: calc(200px / 6);
  justify-content: space-between;
}

.product img {
  width: 150px;
  align-self: center;
}

.product__name {
  font-size: 24px;
}

.product__button {
  font-size: 16px;
  cursor: pointer;
  background-color: seashell;
  border: 1px solid grey;
  outline: none;
}
